.input {
    margin-top: 4px;

    label{
        margin-right: 3px;
    }

    .lat {
        margin-left: 5px;
    }
}

.cords-button {
    margin-top: 5px;
    border-radius: 4px;
    border: 0;
    background-color: navy;
    color: white;
    font-size: 14px;
}